src/Test.It.While.Hosting.Your.Windows.Service/bin/
src/Test.It.While.Hosting.Your.Windows.Service/obj/
tests/Test.It.While.Hosting.Your.Windows.Service.Tests/obj/
tests/Test.It.While.Hosting.Your.Windows.Service.Tests/bin/
packages/
!tools/**